# Bonus: Temperature Analysis I

In [4]:
import pandas as pd
from datetime import datetime as dt

ModuleNotFoundError: No module named 'pandas.table'

In [ ]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [ ]:
# Convert the date column format from string to datetime
date_time = [dt.strptime(date, "%Y-%m-%d") for date in df['date']]
df['date'] = date_time

In [ ]:

# Set the date column as the DataFrame index
df_time = df.set_index('date')
df_time.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [ ]:
from scipy import stats

In [ ]:
# Filter data for desired months
june_df = df_time.loc[df_time.index.month == 6]
dec_df = df_time.loc[df_time.index.month == 12]

In [ ]:
# Identify the average temperature for June
june_tobs_avg = june_df['tobs'].mean()
round(june_tobs_avg,2)

74.94

In [ ]:
# Identify the average temperature for December
dec_tobs_avg = dec_df['tobs'].mean()
round(dec_tobs_avg,2)

71.04

In [5]:
# Create collections of temperature data
avg_temp = pd.DataFrame(['jan','feb','mar','apr','may','june','july','aug','sep','oct','nov','dec'], columns=['month'])
avg_temp_list = [df_time.loc[df_time.index.month == month]['tobs'].mean() for month in range(1,13)]
avg_temp['avg_temp'] = avg_temp_list
avg_temp

NameError: name 'df_time' is not defined

In [ ]:
# Run paired t-test
t_test = stats.ttest_ind(avg_temp.index,avg_temp['avg_temp'])
t_test

Ttest_indResult(statistic=-51.480042910274825, pvalue=1.9885682829055344e-24)

### Analysis

The month that you are in is statistically significant to the average temperature in Hawaii